@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
/* Header */
header {
  text-align: center;
  position: sticky;
  top: -63px;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.9);
  color: #030337;
  padding-bottom: 15px;
}
h1 {
  margin: 20px;
  font-size: 50px;
}
.filterButtons {
  display: flex;
  margin: auto;
  justify-content: center;
  max-width: 800px;
  flex-wrap: wrap;
}

.filterButtons li {
  list-style: none;
  margin: 5px;
  width: 50px;
  border-radius: 15px;
  padding: 12px 16px;
  background-color: #d6d4e9;
  cursor: pointer;
}

.filterButtons li:hover {
  background-color: #8181d4;
  font-weight: 600;
}

.filterButtons li.active {
  background-color: #030337;

  color: white;
}
/* Main */
main {
  color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
@media screen {
  main {
    justify-content: space-around;
  }
}
/* ID Card Design */
.id_front {
  display: flex;
  flex-direction: column;
  background-image: url("./res/front.jpg");
}
.data_header,
.data_footer {
  margin: 0 11px;
}
.data_header .heading {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 7.75px;
  font-weight: 600;
}
.data_header .isActive {
  font-size: 7.5px;
  font-weight: 300;
}

.id_image {
  border-radius: 8px;
  height: 71px;
  width: 67px;
  margin: 24.5px auto 0 auto;
  background-size: cover !important;
}
.id_data {
  text-align: center;
  font-size: 5.5px;
  font-weight: 600;
}
.name_adNo_container {
  margin-top: 5px;
}
.name,
.adNo,
.section,
.memNo {
  font-weight: 300;
}
.data_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
}
.id_back {
  background-image: url("./res/back.jpg");
}
.id_front,
.id_back {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 91.02mm;
  height: 54.02mm;
}
/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  bottom: 15px;
  left: 25px;
  right: 10px;
}
.dataInfo {
  width: 150px;
  background-color: #d6d4e9;
  border-radius: 9px;
  color: #030337;
  border: 1px solid #030337;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 12px;
}
.titleBar {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.titleBar p {
  color: red;
  text-decoration: underline;
}
.titleBar b {
  margin-left: 2px;
}
.titleBar p:hover {
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 3px 4px;
  border-radius: 5px;
}
.titleBar p:hover b {
  color: red;
  background-color: white;
  padding: 1px 3px;
  border-radius: 5px;
}
.dataInfo table {
  color: white;
  text-align: left;
  margin: 4px;
}
.print:hover {
  font-weight: 600;
}
.dataInfo tr {
  background-color: #030337d2;
  margin: 2px 0;
}
.dataInfo th,
.dataInfo td {
  border-radius: 5px;
  padding: 2px;
}
.filteredData td,
.totalData td {
  text-align: center;
  font-size: 15px;
}
.end * {
  text-align: center;
}
.downloadBtn {
  max-width: 170px;
  display: flex;
  font-size: large;
  border-radius: 25px;
  z-index: 5;
  cursor: pointer;
  color: white;
}
.dlText {
  margin: auto;
  background-color: #d6d4e9;
  font-weight: 600;
  color: #030337;
  border: 0.1px solid #030337;
  padding: 6px;
  padding-right: 125px;
  padding-left: 15px;
  width: 100px;
  margin-right: -25px;
  border-radius: 25px;
}
.dlImg {
  height: 50px;
  width: 50px;
  margin: auto;
}

/* Print */
@media print {
  @page {
    size: 12in 18in;
    margin: 12.54mm 5mm;
  }
  header,
  footer {
    display: none;
  }
}
